In [11]:
# Test POC 
import pandas as pd

df_Dates = pd.read_csv (r'C:\Users\jonnaa\Desktop/testPOC.csv')
df_Dates.head(3)

  Group        Date  Cash
0     a  01/01/2020  20.0
1     b  01/01/2020  25.0
2     c  01/01/2020  31.0

In [12]:
df_Dates['Date'] = df_Dates['Date'].astype('datetime64[D]')
print(df_Dates.dtypes)

Group            object
Date     datetime64[ns]
Cash            float64
dtype: object

In [13]:
# Import date and timedelta class
# from datetime module
from datetime import date
from datetime import timedelta

df_Dates['Date_1'] = df_Dates['Date'] - timedelta(days = 1)
df_Dates['Date_2'] = df_Dates['Date'] - timedelta(days = 2)

# # Yesterday date
# yesterday = today - timedelta(days = 1)
# print("Yesterday was: ", yesterday)

In [14]:
df_Dates.head(3)

  Group       Date  Cash     Date_1     Date_2
0     a 2020-01-01  20.0 2019-12-31 2019-12-30
1     b 2020-01-01  25.0 2019-12-31 2019-12-30
2     c 2020-01-01  31.0 2019-12-31 2019-12-30

In [8]:
import pandas as pd

id_col = ['a','a','a','a','b','b','b','b','c','c','c','c']

date_rng = ['2020-01-01','2020-01-02','2020-01-03','2020-01-04','2020-01-01','2020-01-02','2020-01-03',\
    '2020-01-04','2020-01-01','2020-01-02','2020-01-03', '2020-01-04']
sales = [20,65,31,30,25,15,29, 19,23,5,65,55]

df = pd.DataFrame({'ID':id_col, 'Date':date_rng, 'Sales':sales})
id_grp = df.groupby(['ID'])
df_list = []

for df_grp in id_grp:
    df_grp[1]['Sales in last 2 days'] = df_grp[1]['Sales'] + df_grp[1]['Sales'].shift().fillna(0)
    df_grp[1]['Sales in last 3 days'] = df_grp[1]['Sales'] + df_grp[1]['Sales'].shift().fillna(0) + df_grp[1]['Sales'].shift(2).fillna(0)
    df_grp[1]['Max of Sales per ID'] = max(df_grp[1]['Sales'])
    df_list.append(df_grp[1])

print(pd.concat(df_list))

   ID        Date  Sales  Sales in last 2 days  Sales in last 3 days  \
0   a  2020-01-01     20                  20.0                  20.0
1   a  2020-01-02     65                  85.0                  85.0
2   a  2020-01-03     31                  96.0                 116.0
3   a  2020-01-04     30                  61.0                 126.0
4   b  2020-01-01     25                  25.0                  25.0
5   b  2020-01-02     15                  40.0                  40.0
6   b  2020-01-03     29                  44.0                  69.0
7   b  2020-01-04     19                  48.0                  63.0
8   c  2020-01-01     23                  23.0                  23.0
9   c  2020-01-02      5                  28.0                  28.0
10  c  2020-01-03     65                  70.0                  93.0
11  c  2020-01-04     55                 120.0                 125.0

    Max of Sales per ID
0                    65
1                    65
2                    65
3                    65
4                    29
5                    29
6                    29
7                    29
8                    65
9                    65
10                   65
11                   65

In [8]:
id_grp.head(5)

  ID        Date  Sales
0  a  2020-01-01     20
1  a  2020-01-02     65
2  a  2020-01-03     31
3  b  2020-01-01     25
4  b  2020-01-02     15
5  b  2020-01-03     29
6  c  2020-01-01     23
7  c  2020-01-02      5
8  c  2020-01-03     65